*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Chinkfont-Regular.ttf";
	text-decoration: none;
	list-style: none;
}

/*Barra menu*/
header{
position: fixed;
width: 100%;
z-index: 100;
}
.container_menu{ /*Settings del contenedor*/
	width: 100%;
	height: 56px;
	background: #330434;
	padding: 0px 10px;
}

.menu{ /*Settings del menu*/
	max-width: 100%;
	margin: auto;
	height: 100%;
}
nav{ /*Setting del nav*/
	height: 100%;
}
nav > ul{/*Settings de la ul que está en nav*/
	height: 100%;
	display: flex;
}

nav > ul > li{ /*Settings del li que esta en la ul del nav*/
	height: 100%;
	width: 20%;
	text-align: center center;
	list-style: none;
	position: relative; /*asi se relaciona al submenu*/

}

nav >ul > li:first-child > a{ /*Settings del a del primer li de ul del nav*/
	background-image: url(../Imagenes/menu.png);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10% 40px;

}

nav >ul > li:first-child:hover > a{ /*Settings del pop-up del primer li en el ul del nav*/
	text-align: center center;
	background-image: url(../Imagenes/menu.png);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center center;

}
nav >ul > li:nth-child(2)> a{
	background-image: url(../Imagenes/chink_nombre_sin_fondo.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px 10px;
}
nav >ul > li:nth-child(2):hover> a{
	background-image: url(../Imagenes/chink_nombre_sin_fondo.png);
	text-align: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;

}
nav >ul > li:nth-child(3)> a{
	background-image: url(../Fenguins_logo/fenguins_name.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px 10px;
}
nav >ul > li:nth-child(3):hover> a{
	background-image: url(../Fenguins_logo/fenguins_name.png);
	text-align: center center;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center center;

}
nav > ul > li > a{

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 14px;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	transition: all 300ms ease;
	justify-content: center;
} 
nav > ul > li > a:hover{
	transform: scale(1.1);
	background: #330433;
	box-shadow: 0px 0px 10px/*expansion*/ 0px /*Grosor*/ rgba(0, 0, 0, 0.5);
}

/*Submenu*/

nav ul li ul{
	width: 250px;
	display: flex;
	flex-direction: column;
	background-color: #330434;
	box-shadow:0px 0px 10px/*expansion*/ 0px /*Grosor*/ rgba(0, 0, 0, 0.5) ;
	position: absolute;
	top: 50px;
	left: -5px;
	padding: 1px 0px;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}
nav ul li:hover ul{
	visibility: visible;
	opacity: 1;
	top: 50px;
	transition:all 300ms ease;
}
nav ul li ul:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #330433;
	position: absolute;
	top: -10px;
	left: 20px;
}
nav  ul  li  ul  a{
	display: block;
	padding: 6px;
	padding-left: 14px;
	margin-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	transition: all 300ms ease;
}
nav  ul  li  ul  a:hover{
	background: #330433;
	color: white;
	transform: scale(1.1);
	padding-left: 30px;
	font-size: 14px;
	box-shadow:0px 0px 10px/*expansion*/ 0px /*Grosor*/ rgba(0, 0, 0, 0.5) ;
}

/*Articulos*/
body{
	background-image: url(../Imagenes/7.png);
	background-attachment: fixed;
	background-size: cover;
}
article{
	padding-top:56px;
	background-color: #FFBDAF;
}
h1{
	text-align: center;
	font-size: 200%;
	font-size-adjust: 10px;
	text-transform: uppercase;
	font-family: "thick.ttf";
	color:purple;
}
main{

	padding: 56px 10%;
	text-align: center;
	font-size: 20px;
}
h2{
	padding: 20px 20px;
}
p{
	text-align: center;
	font-size: 25px;
	padding: 20px 20px;
}
.compañía{
	height: 100px;
	width: auto;
	vertical-align: middle;
}
.contenedor_multimedia{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	align-content: center;
	text-align: center;
}
.contenedor_multimedia_imagen{
	display: flex;

	position: relative;
	width: inherit;
	height: inherit;
}
.contenedor_multimedia img{
	width: 50%;
	height: auto;
}
figure{
	display: block;
	margin: 0;
	padding: 0;
}
figcapion{
	margin-top: 10px;
	background-color: #f1f;
	padding: 5px;
}
.imagen_historia{
	display: contents;
	width: 1213px;
}
.imagen_historia img{
	padding-top: 50px;
	width: 75%;
	height: auto;
	align-content: center;
	text-align: center;
}
.responsive-iframe {
	display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.responsive-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}
.contenedor_mecanicas{
	position: relative;
	width: 100%;
	align-content: center;
	text-align: center;
}
.contenedor_mecanicas > img{
	width: 75%;
	height: auto;
}
.pie_imagen_mecanicas{ 
	position: relative;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-style: oblique;
    text-decoration: underline;
}
.distribución_bloques{
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin: 20px 40px;
}
.distribución_bloques > li{
	padding: 20px 40px;
}
.bloque{
	align-content: center;
	justify-content: center;
	border: 1px solid #330433;
	display: flex;
	padding: 0px 5px;
}
.bloque > p , h3{
	justify-content: center;
	align-content: center;

}
#equipo> ul .contenedor_ordenar>li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
	align-content: center;
	padding: 30px 40px;
}
.contenedor_ordenar{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.contenedor_equipo{
	position: relative;
	width: 300px;
}
.pie_imagen{
	position: absolute;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.iconos_equipo{
	width: 100px;
	height: auto;
	vertical-align: middle;
	margin-right: 10px;
}
.imagen_inicio{
	width: 100%;
	height: auto;
}
/* Estructura para redes sociales */
.redes_sociales{
	height: 56px;
	width: 100%;
	border:1px solid #330433;
	background-color: #330433;
	align-content: center center;
	display: inline-grid;
	align-content: center;

}
.redes_sociales> ul{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: flex-end;
}
.redes_sociales> ul > li{
	color: white;
	height: 53px;
	width: 56px;
}
#imagenes_redes{
width: 53px;
height: 53px;
}
@media screen and (max-width: 1300px){
	.{
		font-size: 10px;
	}
	header{
		position: fixed;
	}
	nav > ul > l1> a:hover{
		transform: scale(1);
	}
	nav >ul > li:nth-child(2)> a{
		background-size:100%;
	}
	nav >ul > li:nth-child(3)> a{
		background-size:100%;
	}
	h1{
		font-size:120%;
	}
	li{
		flex-direction: column;
	}
	div{
		flex-direction: column;
	}
}